* {
    margin: 0;
    padding: 0;    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    display: flex;

}

.left-content {
    width: 50%;
    height: 100vh;
    background-color: lightgray;
}

.menu-left {
    display: flex;
    align-items: center;
    gap: 20px;
}

.menu-left p {
    font-size: 30px;
    font-weight: bold;
}

.profileicon1 {
    width: 100px;
}

.profileicon2 {
    width: 150px;
}

.profileicon3 {
    width: 50px;
}

.sneackers {
    background-color: #f2efe6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    border-radius: 40px;
    width: 60%;
    height: 60%;
    margin: 0 auto;
}

.models {
    padding: 5px;
    background-color: #d6d6d6;
    border-radius: 10px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    padding: 20px;
    height: 15%;
}

.models img {
    width: 150px;
    margin-bottom: 20px;
}

.models h2 {
    font-size: 20px;
    font-weight: bolder;
}

.models p {
    font-size: 18px;
    font-weight: bolder;
}

.um,
.dois {
    display: block;
    font-size: 15px;
    padding: 15px;
}

.total-content {
    font-size: 45px;
    font-weight: bold;
    display: flex;
    gap: 5px;
    justify-content: end;
}

.total-preco {
    background-color: #bbbbbb;
    width: 20%;
    height: 10%;
}

.under-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 15px;
}

.under-content img {
    max-width: 20%;
    max-height: 20%;
}

.cancel {
    background-color: #f16763;
    border-radius: 5px;
    width: 30%;
    height: 15%;
    text-align: center;
}

.confirm {
    background-color: #4a9af0;
    border-radius: 5px;
    width: 30%;
    height: 15%;
    text-align: center;
}

.cancel img,
.confirm img {
    margin-right: 5px;
    
}

.right-content {
    width: 50%;
    height: 100vh;
    background-color: black;
}

.menu-right {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: space-between;
}

.menu-right p {
    font-size: 30px;
    font-weight: bold;
    color: #ffffff;
}

.menu-right img {
    width: 30px;
}

.information h2,
h3 {
    text-decoration: underline;
    font-size: 35px;
    color: #ffffff;
}

.img-information {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 10px;
}

.img-information img {
    width: 10%;
    padding: 5%;
    align-items: center;
}

.text-information {
    margin: 5rem;
}

.card {
    text-align: center;
}

.card img{
    width: 50%;
}

.under-content,
.under-content-right {
    display: flex;
    justify-content: space-around;
    margin: 50px;
}

.under-content-right h2 {
    text-align: center;
    color: #ffffff;
}